$blue-gradient: linear-gradient(to right, #435af0, #7c00b8);
$light-blue-gradient: linear-gradient(to right, #a14bf0, #00a5f1);
$pink: #fd1eb3;
$light-blue: #00a5f1;
$dark-blue: #a14bf0;  
$dark-green: #41516a;
$light-gray: #f8f9fa;
$gray: rgb(90, 90, 90);
$dark-gray: rgb(41, 41, 41);