@import 'mixins';
@import 'colors';

.location {
    @include centering;
    flex-direction: column;
    justify-content: flex-start;
    height: 70vh;
    background-color: $light-blue;

            .slider-container {
                    @include centering;
                    width: 80%;
                    transform: translateY(130px);

                            .slider-wrapper {
                                    @include centering;
                                    width: 100%;

                                            img {
                                                    margin: 0px 60px;
                                            }
                            }
            }

            .map-location {
                    @include centering;
                    transform: translateY(260px);
            }
            
}
