.contact-us 
    .contact-form 
        form 
            .header-container 
                h2 Get In Touch
            .form-fields 
                .nes-container 
                    input(type='text', name="username", placeholder="Name")    
                    input(type='email', name="email", placeholder="Email")    
                    input(type='text', name="password", placeholder="Subject") 
                .message-container 
                    textarea(name="message", cols="30", rows="20", placeholder="Message")      
            .button-container 
                input(type="submit", name="submit", value="Send Message")  
    .our-location 
            .text-container 
                h2 Our Location
                p There are many variations of passages of Lorem Ipsum available, but the majority have suffered 
            .contact-info 
                .address 
                    <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" color="#000"><path fill="none" d="M0 0h24v24H0z"></path><path d="M12 2C8.13 2 5 5.13 5 9c0 1.74.5 3.37 1.41 4.84.95 1.54 2.2 2.86 3.16 4.4.47.75.81 1.45 1.17 2.26.26.55.47 1.5 1.26 1.5s1-.95 1.25-1.5c.37-.81.7-1.51 1.17-2.26.96-1.53 2.21-2.85 3.16-4.4C18.5 12.37 19 10.74 19 9c0-3.87-3.13-7-7-7zm0 9.75a2.5 2.5 0 010-5 2.5 2.5 0 010 5z"></path></svg>
                    span 123 Park Avenue, New York,United States
                .phone 
                    <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" color="#000"><path d="M2 3a1 1 0 011-1h2.153a1 1 0 01.986.836l.74 4.435a1 1 0 01-.54 1.06l-1.548.773a11.037 11.037 0 006.105 6.105l.774-1.548a1 1 0 011.059-.54l4.435.74a1 1 0 01.836.986V17a1 1 0 01-1 1h-2C7.82 18 2 12.18 2 5V3z"></path></svg>
                    span +1 631 1234 5678
                    span +1 631 1234 5678
                .email 
                    <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" color="#000"><path d="M0 0h24v24H0z" fill="none"></path><path d="M2.01 21L23 12 2.01 3 2 10l15 2-15 2z"></path></svg>
                    span email@website.com
                    span abc@website.com                

