doctype html
html(lang="en")
    include head
    body
        header
            include header
        //- include floaters    
        main
            include main
        include aboutus
        include ourwork 
        include clients
        include ourblog
        include location
        include contact
        include footer
