.location 
    .slider-container 
        .slider-wrapper 
            - for(var i = 0; i < 6; i++)
                img(src="imgs/envato.png", alt="envato")
    .map-location
        <iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyATB3h2CpujoQHJHH98cJpPFkhribyF2no&q=Space+Needle,Seattle+WA" allowfullscreen></iframe>