.main-container 
    .img-container 
        img(src="imgs/desk.png", alt="desk")
    .text-content
        h2 #[span#creative Creative]#[br]Digital Agency
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. #[br] Cum iusto tempore mollitia corrupti ab perferendis!#[br] Numquam, inventore? Reprehenderit aliquid praesentium #[br]dolorum sed. Minus architecto unde quos repudiandae facilis perspiciatis perferendis!
        button Learn More
.scroll-down
        span Scroll Down
        <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" color="#000"><path fill-rule="evenodd" d="M4.97 13.22a.75.75 0 000 1.06l6.25 6.25a.75.75 0 001.06 0l6.25-6.25a.75.75 0 10-1.06-1.06l-4.97 4.97V3.75a.75.75 0 00-1.5 0v14.44l-4.97-4.97a.75.75 0 00-1.06 0z"></path></svg>  

