.our-blog 
    .text-content 
        span We are megaone company
        h2 Our #[span#blog latest blogs] will keep everyone updated 
    .cards-container
        .card 
            .img-container
                img(src="imgs/blog-news-1.jpg", alt="Web design is fun")
            .text-content 
                span#date October 29, 2020
                span#title Web design is fun
                span#content Lorem ipsum dolor sit amet consectetur adipiscing elit ipsum dolor sit am...
            .profile 
                img(src="imgs/avatar-5.png", alt="Hena Sword")  
                span Hena Sword   
        .card 
            .img-container
                img(src="imgs/blog-news-2.jpg", alt="Future of websites")
            .text-content 
                span#date October 29, 2020
                span#title Future of websites
                span#content Lorem ipsum dolor sit amet consectetur adipiscing elit ipsum dolor sit am...
            .profile 
                img(src="imgs/avatar-4.png", alt="David Villas")  
                span David Villas   
        .card 
            .img-container
                img(src="imgs/blog-news-3.jpg", alt="Digital marketing")
            .text-content 
                span#date October 29, 2020
                span#title Digital marketing
                span#content Lorem ipsum dolor sit amet consectetur adipiscing elit ipsum dolor sit am...
            .profile 
                img(src="imgs/avatar-1.png", alt="John Walker")  
                span John Walker   
        