.our-work 
    .text-content 
        p.p We are megaone company
        h2 We have #[span#design designed] some#[br]great projects
        p.p2 There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected.
    .portfolio-container 
        .categories 
            ul 
                include variables
                each item, slash in liObject 
                    span= item 
                    li= slash
        .portfolio 
            .upper-container 
                .ul-container 
                    //- .hover-container
                    //-     .plus-icon 
                    //-         <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" color="#000"><path fill-rule="evenodd" d="M11.75 4.5a.75.75 0 01.75.75V11h5.75a.75.75 0 010 1.5H12.5v5.75a.75.75 0 01-1.5 0V12.5H5.25a.75.75 0 010-1.5H11V5.25a.75.75 0 01.75-.75z"></path></svg>
                    //-     span#big Latest Work 
                    //-     span#small See Our Amazing Work
                    .left
                        .beer 
                            img(src="imgs/beer.jpg", alt="beer")
                    .right        
                        .paper-rocket 
                            img(src="imgs/paper-rocket.jpg", alt="paper")
                        .elo 
                            img(src="imgs/elo.jpg", alt="elo")
                .ur-container
                    //- .hover-container
                    //-     .plus-icon 
                    //-         <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" color="#000"><path fill-rule="evenodd" d="M11.75 4.5a.75.75 0 01.75.75V11h5.75a.75.75 0 010 1.5H12.5v5.75a.75.75 0 01-1.5 0V12.5H5.25a.75.75 0 010-1.5H11V5.25a.75.75 0 01.75-.75z"></path></svg>
                    //-     span#big Latest Work 
                    //-     span#small See Our Amazing Work
                    .whole
                        .mug 
                            img(src="imgs/mug.jpg", alt="mug")
            .lower-container 
                .ll-container 
                    //- .hover-container
                    //-     .plus-icon 
                    //-         <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" color="#000"><path fill-rule="evenodd" d="M11.75 4.5a.75.75 0 01.75.75V11h5.75a.75.75 0 010 1.5H12.5v5.75a.75.75 0 01-1.5 0V12.5H5.25a.75.75 0 010-1.5H11V5.25a.75.75 0 01.75-.75z"></path></svg>
                    //-     span#big Latest Work 
                    //-     span#small See Our Amazing Work
                    .whole
                        .alert 
                            img(src="imgs/alert.jpg", alt="alert")
                .lr-container  
                    //- .hover-container
                    //-     .plus-icon 
                    //-         <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" color="#000"><path fill-rule="evenodd" d="M11.75 4.5a.75.75 0 01.75.75V11h5.75a.75.75 0 010 1.5H12.5v5.75a.75.75 0 01-1.5 0V12.5H5.25a.75.75 0 010-1.5H11V5.25a.75.75 0 01.75-.75z"></path></svg>
                    //-     span#big Latest Work 
                    //-     span#small See Our Amazing Work
                    .upper 
                        .bulp 
                            img(src="imgs/bulp.jpg", alt="bulp")
                    .lower        
                        .cupcake 
                            img(src="imgs/cupcake.jpg", alt="cupcake")
                        .coffee 
                            img(src="imgs/coffee.jpg", alt="coffee")         
